body{
    margin-left: 50px;
    margin-top: 50px;
}
#menu{
     font-family:calibri;
}
#menu>ul>li{
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;
    margin: 5px;
    width: 70px;
    text-align:center;
}
