
html {
    background: #e6e9e9;
    background-image: url(background.jpg)
}
body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0em 0em 4em;
}
.page {
    margin-left: 50px;
    margin-right: 50px ;
    margin-top: 
    
}
h1 {
    color:#1C8ADB;
    font-size:50px;
    text-align: center;
    margin-top: 50px
      
}
div {
    font-size: 20px
}
p {
  font-size:20px
}
.table {
    width: 100% ; 
    border: 1px black solid ; 
    border-collapse: collapse ;     
}
td {
    width: 25% ; 
    border: 1px black solid ;
    text-align: left;
    padding: 5px 
}
.col1 {
    width: 10%; 
    font-weight: bold
}
th {
    width: 25% ; 
    border: 1px black solid;
    text-align: center ;   
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;       
}
#nav{
    position: fixed;
    margin:0px;
    width: 1000px
    
}

.li, .dropdown {
    float: left;
    
}
.li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;       
}
.li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.av {
    color: limegreen;
    list-style-type: none    
}
.inc {
    color: red;
    list-style-type: none
}
.img200px {
    width: 200px;      
}
.img300px {
    width: 300px;      
}

.center {
    text-align: center
}


#recap {
    width: 70% ; 
    border: 1px black solid ; 
    border-collapse: collapse ;
    margin: auto;
    font-size: 20px;
    font-weight: bold
}
.img450px {
    width: 450px
}
.img150px {
    width: 150px;
    list-style-image: none
    
}        
.img20px {
    width: 20px
}
.img {
    list-style-type: none
}
#video {
    text-align: center
}
b {
    font-size: 22px
}